body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

p{

}
a {
  color: #00B7FF;
}
